html {
  font-size: 62.5% !important;
}

body {
  @apply font-body text-body-md;

  @screen lg {
    @apply text-body-lg;
  }
}

h1,h2,h3,h4,h5,h6, .subtitle-1, .subtitle-2, th {
  @apply font-heading;
}

.nuxt-content {
  @apply text-left my-12 text-justify;

  ul {
  @apply ml-4 pl-0;
    list-style: none;

    li {
      @apply pl-2;
      text-indent: -1em;
    }

    li::before {
      content: '-';
      @apply pr-4;
    }
  }

  p {
    @apply my-3;
  }
}
