.theme-light {
  --color-bg-primary: #fff; // white
  --color-bg-secondary: #F9FAFB; // soft gray


  --color-text-primary: #3e3e3e; // dark gray
  --color-text-secondary: #6b7280; // gray
  --color-text-tertiary: #5850ec; // dark indigo
}

.theme-dusk {
  --color-bg-primary: #252f3f; // dark gray soft
  --color-bg-secondary: #161e2e; // dark gray strong

  --color-text-primary: #F9FAFB; // veryl ight gray
  --color-text-secondary: #8da2fb; // light indigo
  --color-text-tertiary: #d2d6dc; // gray
}



