$lines: (1, 2, 3, 4, 5);

@each $line in $lines {
  .text-ellipsis-#{$line} {
    -webkit-line-clamp: #{$line};
    @extend .ellipsis-properties;
  }
}


.ellipsis-properties {
  overflow: hidden;
  /* stylelint-disable */
  -webkit-box-orient: vertical;
  display: -webkit-box;
  /* stylelint-enable */
  text-overflow: ellipsis;
  padding-bottom: 0 !important;
}

.container {
  @apply px-12;
  @screen md {
    @apply w-11/12 mx-auto;
  }
  @screen xl {
    @apply w-10/12;
  }
  @screen xxl {
    @apply w-full;
    max-width: 1400px;
  }
}

.title-spacer {
  @apply pb-8;

  @screen lg {
    @apply pb-8;
  }
  @screen xl {
    @apply pb-10;
  }
}

.section-spacer {
  @apply py-16;
  @screen xl {
    @apply py-32;
  }
}

.top-spacer {
  @apply pt-16;
  @screen xl {
    @apply pt-32;
  }
}

.bottom-spacer {
  @apply pb-16;
  @screen xl {
    @apply pb-32;
  }
}

.theme-light {

  .button-brand {
    @apply bg-brand-dark-indigo text-white;

    &:hover {
      @apply bg-hover-tertiary;
    }

    &:focus {
      @apply bg-focus-tertiary outline-none;
    }
  }

  .link-brand {
    &:hover {
      @apply text-hover-secondary;
    }

    &:focus {
      @apply bg-secondary outline-none;
    }
  }

  .form-outline {
    &:focus {
      @apply outline-none border-transparent;
      box-shadow: 0 0 0 3px rgba(88, 80, 236, 0.45); // text-tertiary theme
    }
  }
}

.theme-dusk {
  .button-brand {
    @apply bg-brand-light-indigo text-white;

    &:hover {
      @apply bg-hover-tertiary;
    }

    &:focus {
      @apply bg-focus-tertiary outline-none;
    }
  }

  .link-brand {
    &:hover {
      @apply text-hover-secondary;
    }

    &:focus {
      @apply bg-secondary outline-none;
    }
  }

  .form-input {
    @apply bg-secondary border-secondary-sc;
  }

  .form-outline {
    &:focus {
      @apply outline-none border-transparent;
      box-shadow: 0 0 0 3px rgba(127, 156, 245, 0.45); // text-tertiary theme
    }
  }
}

.form-input {
  @apply border border-primary rounded-md text-primary;
  &.has-error {
    @apply border-red-300 text-red-900;
    &:focus {
      @apply border-red-300;
    }
    &::-webkit-input-placeholder {
      @apply text-red-500;
    }
  }
  &::-webkit-input-placeholder {
    @apply text-secondary;
  }
}

.form-outline.has-error {
  &:focus {
    @apply border-red-300;
    box-shadow: 0 0 0 3px rgba(245, 101, 101, 0.45) !important; // text-tertiary theme
  }
}

//.theme-toggler {
//  align-self: center;
//  background-image: url(~assets/images/toggler.png);
//  width: 50px;
//  height: 24px;
//  border-radius: 12px;
//  background-size: 76px 24px;
//  background-position: -26px 0;
//  transition: 100ms;
//}
//

// TODO add for IE support
.theme-toggler {
  align-self: center;
  background-image: url(~assets/images/toggler.svg);
  width: 58px;
  height: 27px;
  border-radius: 47px;
  background-size: 88px 27px;
  background-position: -30px -1.5px;
  border: 1px solid #2B2C33;
  @apply transition-all duration-200;
}

.theme-dusk .theme-toggler {
background-position: -2.4px -1.5px;
  border: 1px solid #F9FAFB;
}

*{
  @apply transition-colors duration-300 ease-linear;
}
