$lines: (1,2,3,4,5);

@each $line in $lines {
  .text-ellipsis-#{$line} {
    -webkit-line-clamp: #{$line};
    @extend .ellipsis-properties;
  }
}


.ellipsis-properties {
  overflow: hidden;
  /* stylelint-disable */
  -webkit-box-orient: vertical;
  display: -webkit-box;
  /* stylelint-enable */
  text-overflow: ellipsis;
  padding-bottom: 0 !important;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.theme-light {
   .button-brand {
     @apply bg-brand-dark-indigo text-white;

     &:hover {
       @apply bg-hover-tertiary;
     }
     &:focus {
       @apply bg-focus-tertiary outline-none;
     }
   }

  .link-brand {
    &:hover {
      @apply text-hover-secondary;
    }
    &:focus {
      @apply bg-secondary outline-none;
    }
  }
 }
